html {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: #cba7c9;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

h2 {
    font-size: 3.6rem;
}

.header {
    padding: 2rem;
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
}

.container {
    background-color: rgb(237 240 241);
    padding: 5rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 3rem;
}

.container p {
    font-size: 2.5rem;
}

.container a {
    text-decoration: none;
    padding: 1.5rem;
    background-color: #b5afa0;
    border-radius: 1rem;
    text-transform: uppercase;
    color: #2b5421;
    cursor: pointer;
}

.modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
}

.modal-container {
    border-radius: 3rem;
    position: relative;
    width: 80rem;
    max-width: 100%;
    background: #93b0e5;
    padding: 3rem;
}

.modal-footer {
    text-align: right;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 2rem;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.modal p {
    font-size: 2rem;
}

.modal-active {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}